//Septa Tracker Styles
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,900&display=swap')

//variables
$septaRed: #f15b30
$septaBlue: #0155a0

$mobile: 850px

//Global
*
  box-sizing: border-box
html
  font-size: 18px
  font-family: 'Roboto', Arial, sans-serif
body
  position: absolute
  margin: 0
  height: 100%
  width: 100%
  min-height: 500px
  overflow-y: scroll
  border-top: 4px solid $septaRed
#background
  top: 0
  left: 0
  position: fixed
  width: 100%
  height: 100%
  background: url(../assets/background.jpg) center no-repeat
  background-size: cover
  z-index: 1
  &:before, &:after
    content: ''
    position: absolute
    display: block
    z-index: 1
    width: 105%
    height: 105%
    top: -2.5%
    left: -2.5%
  &:before
    background: rgba(0,0,0,0.5)
    z-index: 2
  &:after
    background: inherit
    filter: blur(5px)

#back
  position: fixed
  bottom: 10px
  left: 10px
  background: $septaRed
  color: #FFF
  z-index: 5
  font-size: 50px
  text-align: center
  width: 50px
  height: 50px
  padding: 0 0 0.2em
  line-height: 0.85em
  border-radius: 100%
  cursor: pointer
  display: none
  &.in
    display: block

//Forms
form
  width: 90%
  max-width: 500px
  margin: 0 auto
  position: absolute
  z-index: 2
  top: 50%
  transform: translateY(-50%)
  left: 0
  right: 0
  transition: top 0.5s ease-out
  &.out
    top: -100%
  img
    display: block
    width: 125px
    height: auto
    margin: 0 auto 2rem
    @media (max-width: $mobile)
      width: 75px
  select
    background-image: url(../assets/angle-arrow-down.svg)
    background-repeat: no-repeat
    background-position: calc(100% - 1rem) center
    background-size: 1rem
    border-radius: 5px
    option
      color: #000
  select, input
    width: 100%
    flex-direction: column
    opacity: 0.9
    display: flex
    padding: 1rem
    font-weight: 100
    appearance: none
    -webkit-appearance: none
    font-size: 1rem
    border: 1px solid $septaBlue
    background-color: rgba(#FFF,0.05)
    color: $septaBlue
    outline: 0
    &:nth-child(2)
      margin-left: 1rem
  input[type="submit"]
    display: table
    width: auto
    margin: 1rem auto 0
    padding: 1em 3em
    border-radius: 5px
    text-transform: uppercase
    background: $septaBlue
    color: #FFF
    border: 0
    cursor: pointer
    box-shadow: none
    font-weight: 600
    font-size: 0.9rem
    transition: background 0.1s ease-out
    &:hover
      background: lighten($septaBlue, 5)

.formPart
  display: flex
  flex-flow: row
  position: relative
  margin-bottom: 1rem
  align-items: center
  transition: all 0.2s ease-out
  @media (max-width: $mobile)
    display: block
  &.inactive
    pointer-events: none
    opacity: 0
    transform: translateY(2rem)
.transitArrow
  margin: 0 0.5rem
  color: $septaBlue
  @media (max-width: $mobile)
    font-size: 0
    display: block
    margin: 0.5rem 0

//Schedules
#scheduleList
  width: 100%
  margin: 0 auto 6rem
.scheduleWrap
  position: absolute
  width: 95%
  max-width: 800px
  z-index: 3
  left: 0
  right: 0
  margin: 0 auto
  height: 0
  overflow: hidden
  top: 100%
  transition: top 0.5s ease-out
  &.in
    top: 0
    height: auto

table
  width: 100%
  border: 0
  overflow: hidden
  text-align: center
  border-spacing: 0
  table-layout: fixed
  th, td
    padding: 5px
    font-weight: 500
  .trainNo, .delay
    width: 5rem
  .arrow
    width: 2rem
    color: $septaBlue
    font-weight: 100
  th, td:first-of-type
    background: rgba($septaBlue, 0.95)
    color: #FFF
  tr:nth-child(even)
    td:not(:first-of-type)
      background: rgba(0,0,0,0.05)
  tr:nth-child(even)
    td:first-of-type
      background: darken($septaBlue, 5)
  tr.running
    td:first-of-type
      background: #0095ff
      border-bottom: 1px solid rgba(0,0,0,0.25)
  tr.slow td:first-of-type
    background: #f3e648
  tr.late td:first-of-type
    background: $septaRed
  td
    overflow: hidden
    white-space: nowrap
  tr:last-of-type td
    border-bottom: 0

.trainBlockWrap
  width: 100%
  margin: 2rem auto

.trainWrap
  background: #FFF
  margin: 0.25rem auto
  width: 100%
  overflow: hidden
  .trainHeader
    padding: 0.25rem
    box-sizing: border-box
    background: $septaBlue
    color: #FFF
    p
      display: inline-block
      margin: 0
    .delay
      float: right
    .current
      font-size: 0.75rem
  &.late .trainHeader
    background: #0095ff
  &.delayed .trainHeader
    background: #f3e648
  .trainDets
    font-size: 0
    padding: 0.25rem
  .trainStop, .trainArrow
    font-size: 1.5rem
    display: inline-block
    vertical-align: middle
    text-align: left
    width: 33%
    span
      display: block
    span:first-of-type
      font-size: 0.75rem
      opacity: 0.5
  .start
    text-align: left
  .trainArrow
    padding: 0 1rem
    text-align: center
  .end
    text-align: right
