@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 500px;
  overflow-y: scroll;
  border-top: 4px solid #f15b30;
}

#background {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../assets/background.jpg) center no-repeat;
  background-size: cover;
  z-index: 1;
}

#background:before, #background:after {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  width: 105%;
  height: 105%;
  top: -2.5%;
  left: -2.5%;
}

#background:before {
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#background:after {
  background: inherit;
  filter: blur(5px);
}

#back {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: #f15b30;
  color: #FFF;
  z-index: 5;
  font-size: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 0 0 0.2em;
  line-height: 0.85em;
  border-radius: 100%;
  cursor: pointer;
  display: none;
}

#back.in {
  display: block;
}

form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  transition: top 0.5s ease-out;
}

form.out {
  top: -100%;
}

form img {
  display: block;
  width: 125px;
  height: auto;
  margin: 0 auto 2rem;
}

@media (max-width: 850px) {
  form img {
    width: 75px;
  }
}

form select {
  background-image: url(../assets/angle-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  background-size: 1rem;
  border-radius: 5px;
}

form select option {
  color: #000;
}

form select, form input {
  width: 100%;
  flex-direction: column;
  opacity: 0.9;
  display: flex;
  padding: 1rem;
  font-weight: 100;
  appearance: none;
  -webkit-appearance: none;
  font-size: 1rem;
  border: 1px solid #0155a0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #0155a0;
  outline: 0;
}

form select:nth-child(2), form input:nth-child(2) {
  margin-left: 1rem;
}

form input[type="submit"] {
  display: table;
  width: auto;
  margin: 1rem auto 0;
  padding: 1em 3em;
  border-radius: 5px;
  text-transform: uppercase;
  background: #0155a0;
  color: #FFF;
  border: 0;
  cursor: pointer;
  box-shadow: none;
  font-weight: 600;
  font-size: 0.9rem;
  transition: background 0.1s ease-out;
}

form input[type="submit"]:hover {
  background: #0162b9;
}

.formPart {
  display: flex;
  flex-flow: row;
  position: relative;
  margin-bottom: 1rem;
  align-items: center;
  transition: all 0.2s ease-out;
}

@media (max-width: 850px) {
  .formPart {
    display: block;
  }
}

.formPart.inactive {
  pointer-events: none;
  opacity: 0;
  transform: translateY(2rem);
}

.transitArrow {
  margin: 0 0.5rem;
  color: #0155a0;
}

@media (max-width: 850px) {
  .transitArrow {
    font-size: 0;
    display: block;
    margin: 0.5rem 0;
  }
}

#scheduleList {
  max-width: 700px;
  margin: 2rem auto;
}

.scheduleWrap {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  top: 100%;
  transition: top 0.5s ease-out;
}

.scheduleWrap.in {
  top: 0;
  height: auto;
}

table {
  width: calc(100% - 2rem);
  min-width: 500px;
  border: 1px solid #0155a0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  border-spacing: 0;
  table-layout: fixed;
}

table th, table td {
  padding: 5px;
  font-weight: 500;
}

table .trainNo, table .delay {
  width: 5rem;
}

table .arrow {
  width: 2rem;
  color: #0155a0;
  font-weight: 100;
}

table th, table td:first-of-type {
  background: rgba(1, 85, 160, 0.95);
  color: #FFF;
}

table tr:nth-child(even) td:not(:first-of-type) {
  background: rgba(255, 255, 255, 0.85);
}

table tr:nth-child(even) td:first-of-type {
  background: #014887;
}

table tr.running td:first-of-type {
  background: #0095ff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

table tr.slow td:first-of-type {
  background: #f3e648;
}

table tr.late td:first-of-type {
  background: #f15b30;
}

table td {
  background: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  white-space: nowrap;
}

table tr:last-of-type td {
  border-bottom: 0;
}

.trainBlockWrap {
  width: calc(100% - 2rem);
  max-width: 500px;
  margin: 2rem auto 6rem;
}

.trainWrap {
  background: #FFF;
  margin: 0.25rem auto;
  width: 100%;
  overflow: hidden;
}

.trainWrap .trainHeader {
  padding: 0.25rem;
  box-sizing: border-box;
  background: #0155a0;
  color: #FFF;
}

.trainWrap .trainHeader p {
  display: inline-block;
  margin: 0;
}

.trainWrap .trainHeader .delay {
  float: right;
}

.trainWrap .trainHeader .current {
  font-size: 0.75rem;
}

.trainWrap.running .trainHeader {
  background: #0095ff;
}

.trainWrap.running.slow .trainHeader {
  background: #f3e648;
}

.trainWrap .trainDets {
  font-size: 0;
  padding: 0.25rem;
}

.trainWrap .trainStop, .trainWrap .trainArrow {
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 33%;
}

.trainWrap .trainStop span, .trainWrap .trainArrow span {
  display: block;
}

.trainWrap .trainStop span:first-of-type, .trainWrap .trainArrow span:first-of-type {
  font-size: 0.75rem;
  opacity: 0.5;
}

.trainWrap .start {
  text-align: left;
}

.trainWrap .trainArrow {
  padding: 0 1rem;
  text-align: center;
}

.trainWrap .end {
  text-align: right;
}
